K9-Mail Compatibility:  list special-use type error

To get K-9 Mail working, I changed the follwing 

```go
 s := make([]string, len(fields))
 for i, v := range fields {
    s[i] = fmt.Sprint(v)
  }
 
   if mailbox, err := imap.ParseString(s[0]); err != nil {
...
```


to line: https://github.com/emersion/go-imap/blob/master/commands/list.go#L41

Please excuse my go. I've only been writing it for one day. 

references: https://stackoverflow.com/questions/44027826/convert-interface-to-string-in-golang

This sounds like a bug with K9 mail. The RFC specifies:

```
list            = "LIST" SP mailbox SP list-mailbox
list-mailbox    = 1*list-char / string
list-char       = ATOM-CHAR / list-wildcards / resp-specials
```

Sent from ProtonMail mobile
As
Axu case As 9A can O9,9OAU

-------- Original Message --------
On May 5, 2020, 10:01 AM, Simon Ser wrote:

> This sounds like a bug with K9 mail. The RFC specifies:
>
> list            = "LIST" SP mailbox SP list-mailbox
> list-mailbox    = 1*list-char / string
> list-char       = ATOM-CHAR / list-wildcards / resp-specials
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, [view it on GitHub](https://github.com/emersion/go-imap/issues/357#issuecomment-624108563), or [unsubscribe](https://github.com/notifications/unsubscribe-auth/ANRNFUKXYRWLEJ3MUT5Q2CLRQAS6HANCNFSM4MZG3VMQ).

This my first time every hearing about ABNF, but  shouldn't `mailbox` be a string?  And isn't that `SPECIAL-USE` ? If my question is grossly uninformed feel free to ignore. 

```

mailbox         = "INBOX" / astring
                    ; INBOX is case-insensitive.  All case variants of
                    ; INBOX (e.g., "iNbOx") MUST be interpreted as INBOX
                    ; not as an astring.  An astring which consists of
                    ; the case-insensitive sequence "I" "N" "B" "O" "X"
                    ; is considered to be INBOX and not an astring.
                    ;  Refer to section 5.1 for further
                    ; semantic details of mailbox names.
```

K-9 Mail 5.600 will only send the extended LIST command when the SPECIAL-USE extension is advertised. My reading of the spec was (and really still is), that the SPECIAL-USE capability may only be advertised if the server also supports [LIST-EXTENDED](https://tools.ietf.org/html/rfc5258). K-9 Mail versions 5.7xx+ will check for both capabilities before sending the extended LIST command.

See also https://github.com/emersion/hydroxide/issues/41

Ah, right. Sorry, I didn't remember about this.

This should not be closed as it is not fixed. It relates to this: https://github.com/emersion/go-imap-specialuse/issues/1
And by extension, this is not fixed as well: https://github.com/emersion/go-imap/issues/21

As per https://tools.ietf.org/html/rfc6154#page-7

When `SPECIAL-USE` capability is advertised, `LIST (SPECIAL-USE) "" "*"` must be handled. This is not an optional feature and it means, that it `go-imap-specialuse` breaks RFC6154. I would extend: https://github.com/emersion/go-imap-specialuse
But, I don't see the ability to extend command and partially handle it in extension, it seems to be all or nothing:
```
// Command gets a command handler factory for the provided command name.
func (s *Server) Command(name string) HandlerFactory {
  // Extensions can override builtin commands
  for _, ext := range s.extensions {
    if h := ext.Command(name); h != nil {
      return h
    }
  }

  return s.commands[name]
}
```
SPECIAL-USE is tightly intervened with the list and maybe it should be merged into `go-imap` instead of being an extension.

I did a hackish solution here: https://github.com/exander77/go-imap/commit/f85eae3022d1664d572c87f42c0626be8d02583d

>When SPECIAL-USE capability is advertised, LIST (SPECIAL-USE) "" "*" must be handled.

Your link doesn't justify this.

@emersion Why do you think that?

@emersion: I tried to illustrate in [this comment](https://github.com/emersion/hydroxide/issues/41#issuecomment-449548512) that announcing the SPECIAL-USE capability doesn't make sense if all you support is the regular LIST command with special-use attributes. The spec specifically states that this feature is not associated with a capability string:

[RFC 6154, section 2](https://tools.ietf.org/html/rfc6154#section-2):
> There is no capability string related to the  support of special-use attributes on the non-extended LIST command.

> For the extended list command [RFC5258], this extension adds a new
>   capability string, a new selection option, and a new return option,
>   all called "SPECIAL-USE".  Supporting implementations MUST include
>   the "SPECIAL-USE" capability string in response to an IMAP CAPABILITY
>   command.

@emersion So... what are we going to do about it? I have a kind of dirty patch (mentioned above) as I don't see an easy way how to implemented using extensions. And I think We can all agree that this is wrong and breaking RFC6154.

> Received some comments from Barry Leiba:
> 
> > I believe that Section 2 makes it clear that it works both ways: the
> > first paragraph says how special-use behave with non-extended LIST,
> > and the second paragraph says what it does with extended LIST.
> 
> > Ah, wait, I see. The example in Section 5.2 says that it's an example of use of extended LIST, but the server doesn't advertise extended LIST... that's the problem. Yes, that's an error in Section 5.2, and this report should be marked "Verified".
> 
> > (Sorry for the noise: one further comment.) When it's marked "Verified", a comment should be added that it _is_ OK to support special-use without extended list, as specified in the first paragraph of Section 2, but that the example in 5.2 says it's an example of use with extended list, so the example is wrong.

The RFC guy actually confirms it. He is saying that it is ok to support special-use without an extended list and We all agree with that. Special-use folders are just flags. What is wrong is announcing `SPECIAL-USE` capability which is exclusive to extended `LIST` supporting `SPECIAL-USE` selection option.

There are 4 different meanings of special-use in RFC6154:
1. there are SPECIAL-USE Metadata for Special-Use Attributes, this relates to METADATA extension in RFC5464, see 4 and 8.6,
2. there is SPECIAL-USE IMAP Capability, see 8.3,
3. there is SPECIAL-USE Selection Option, see 8.4,
4. there is SPECIAL-USE Return Option, see 8.5.

1. is just an extension of RFC5464 and is not announced (these are just flags):
> There is no capability string related to the support of special-use attributes on the non-extended LIST command.

2. and 3. and 4. are bound together:
> For the extended list command [RFC5258], this extension adds a **new capability string**, a **new selection option**, and a **new return option**, all called "SPECIAL-USE".

I have been reading more in: https://github.com/emersion/hydroxide/issues/41

And there are misconceptions there:

> > So the "bug" in the second example is the CAPABILITY list is missing LIST-EXTENDED.
>Yes, this is what I reported.

No, there is no bug example. RFC5258 clearly states: 
> Note that extensions that don't require support for an extended LIST command, but use extended LIST responses (see below), don't need to advertise the  "LIST-EXTENDED" capability string.
> This extension also defines extensions to the LIST response, allowing a series of extended fields at the end, a parenthesized list of tagged data (also referred to as "extended data item").
This is exactly the case of `SPECIAL-USE` as it works without `LIST-EXTENDED`, but is using extended LIST responses.

And:

> Seems like K-9 is assuming the server supports RFC 5258 without checking it.
No, `SPECIAL-USE` implies extended LIST responses as RFC5258 notes. You are confusing extended `LIST` responses with extended LIST command and its options. K-9 des not assuming `EXTENDED-LIST` support, but extended `LIST` responses.

> K-9 does not assume EXTENDED-LIST support but extended LIST responses from a LIST command with SPECIAL-USE selection and return options.

That's a stretch. K-9 Mail 5.600 does assume the server supports the extended `LIST` command when the `SPECIAL-USE` capability is present. It then uses the command `LIST (SPECIAL-USE) "" "*"`. In 5.7xx beta versions the code was changed to check for both the `SPECIAL-USE` and `LIST-EXTENDED` capabilities. Due to other changes the issued command itself changed to `LIST "" "*" RETURN (SPECIAL-USE)`.

RFCs are often not great at mentioning error cases. They state what you should do and hope you make the correct assumptions about what not to do. Technically, the behavior of go-imap falls into undefined behavior territory. 

[RFC 6154, section 2](https://tools.ietf.org/html/rfc6154#section-2):
> An IMAP server that supports this extension MAY include any or all of
> the following attributes in responses to the non-extended IMAP LIST
> command.  The new attributes are included along with existing
> attributes, such as "\Marked" and "\Noselect".  A given mailbox may
> have none, one, or more than one of these attributes.  In some cases,
> a special use is advice to a client about what to put in that
> mailbox.  In other cases, it's advice to a client about what to
> expect to find there.  There is no capability string related to the
> support of special-use attributes on the non-extended LIST command.
>
> For the extended list command [RFC5258], this extension adds a new
> capability string, a new selection option, and a new return option,
> all called "SPECIAL-USE".  Supporting implementations MUST include
> the "SPECIAL-USE" capability string in response to an IMAP CAPABILITY
> command.  If the client specifies the "SPECIAL-USE" selection option,
> the LIST command MUST return only those mailboxes that have a
> special-use attribute set.  If the client specifies the "SPECIAL-USE"
> return option, the LIST command MUST return the new special-use
> attributes on those mailboxes that have them set.  The "SPECIAL-USE"
> return option is implied by the "SPECIAL-USE" selection option.  The
> extended LIST command MAY return SPECIAL-USE attributes even if the
> client does not specify the return option.

Paragraph 1 states that there's no capability associated with including the attributes in the regular list response. It does not say you MUST NOT use the `SPECIAL-USE` capability if you only support this mechanism, but not the extended LIST command feature.

Paragraph 2 deals with an extension to the extended LIST command. It doesn't apply to go-imap because go-imap doesn't support the extended LIST command.

Unfortunately, the spec doesn't explicitly spell out what servers have to do when the `SPECIAL-USE` capability is announced. But I hope there's no doubt that announcing the `SPECIAL-USE` capability without supporting the extended LIST command (and announcing the `LIST-EXTENDED` capability) is not a useful thing to do and is just asking for this kind of compatibility issues.


> Paragraph 1 states that there's no capability associated with including the attributes in the regular list response. It does not say you MUST NOT use the SPECIAL-USE capability if you only support this mechanism, but not the extended LIST command feature.

**You cannot advertisers capabilities without actually supporting them.** Isn't this obvious? Why are We even talking about this? This is registered IANA IMAP 4 Capabilityy and you can use it only as defined.
> For the extended list command [RFC5258], this extension adds a new capability string, a new selection option, and a new return option, all called "SPECIAL-USE".

If what you are suggesting was the case then you can just advertisers all registered IANA IMAP 4 Capabilities and issue errors if needed.

> An IMAP server that supports this extension MAY include any or all of
> the following attributes in responses to the non-extended IMAP LIST
> command.

Btw, this talks about supporting the extension, not advertising the CAPABILITY. There is one thing to support RFC 6154, which you do. And announcing `SPECIAL-USE` capability.

> > K-9 does not assume EXTENDED-LIST support but extended LIST responses from a LIST command with SPECIAL-USE selection and return options.
> 
> That's a stretch. K-9 Mail 5.600 does assume the server supports the extended `LIST` command when the `SPECIAL-USE` capability is present. It then uses the command `LIST (SPECIAL-USE) "" "*"`. In 5.7xx beta versions the code was changed to check for both the `SPECIAL-USE` and `LIST-EXTENDED` capabilities. Due to other changes the issued command itself changed to `LIST "" "*" RETURN (SPECIAL-USE)`.

I do not think it is stretch `SPECIAL-USE` does not require only Extended `LIST` Responses. So this holds. This is more about general handling, the K-9 is just one case. There may be other clients.

I think they could do it better as well.

But this:
```
LIST (SPECIAL-USE) "" "*"
```
is not Extended `LIST` Command (RFC 6154). It is standard `LIST` Command extended by `SPECIAL-USE` selection option.

The standard LIST command ([RFC 3501, section 6.3.8](https://tools.ietf.org/html/rfc3501#section-6.3.8), [RFC 3501, page 85, `list` rule](https://tools.ietf.org/html/rfc3501#page-85)) doesn't support options. 

RFC 6154 does not create a special version of the LIST command. It (optionally) extends the extended LIST command as defined in RFC 5258. If a server doesn't support the extended LIST command the sections in RFC 6154 about extending the extended LIST commands don't apply.

> The standard LIST command ([RFC 3501, section 6.3.8](https://tools.ietf.org/html/rfc3501#section-6.3.8), [RFC 3501, page 85, `list` rule](https://tools.ietf.org/html/rfc3501#page-85)) doesn't support options.
> 
> RFC 6154 does not create a special version of the LIST command. It (optionally) extends the extended LIST command as defined in RFC 5258. If a server doesn't support the extended LIST command the sections in RFC 6154 about extending the extended LIST commands don't apply.

There is some truth to that, but that is not really a problem. The problem is the advertisement for the `SPECIAL-USE` capability. We don't need to even discuss this if the capability is not wrongly advertised.

My interpretation is that you can support this command without supporting RFC6154 Extended `LIST` Command, by allowing `LIST` command to have a single option `(SPECIAL-USE)`.

I think the main problem and confusion here is that it was intended for servers who both support or don't support `LIST-EXTENDED` capability, but the clients would obviously use Extended `LIST` command.

> You are assuming that Extended `LIST` Command refers to Extended `LIST` Command defined in RFC6154 [I assume you meant 5258]. But it is not cited.

Well, section 2 contains this:
"For the extended list command [RFC5258], this extension adds a new capability string, a new selection option, and a new return option, all called "SPECIAL-USE"

> I think the main problem and confusion here is that it was intended for servers who both support or don't support LIST-EXTENDED capability, but the clients would obviously use Extended LIST Command.

If you read it that way, there's indeed some confusion. Section 2, paragraph 1 deals with the *response* to the regular LIST command. It may include special-use attributes. See example [5.1](https://tools.ietf.org/html/rfc6154#section-5.1).

Side note: Please try to be more considerate when posting comments. The fact that you post multiple subsequent comments and edit each of them multiple times is a good indication that your thought process isn't finished when you hit "Comment". 

> Well, section 2 contains this:
> "For the extended list command [RFC5258], this extension adds a new capability string, a new selection option, and a new return option, all called "SPECIAL-USE"

Yes, that is true, it adds those options for Extended `LIST` Command.

> Side note: Please try to be more considerate when posting comments. The fact that you post multiple subsequent comments and edit each of them multiple times is a good indication that your thought process isn't finished when you hit "Comment".

Sorry about this, it is not about the thought process, but that I reread comments several times to remove anything imprecise and make it as clear as is possible. I am never able to do it without at least ten edits.

I'm not convinced by @exander77, however @cketti's [comment](https://github.com/emersion/go-imap/issues/357#issuecomment-717517504) makes me think I'm wrong. go-imap uses the cap to advertise that it'll return SPECIAL-USE attributes in the regular LIST command, and the RFC citation says it's wrong.

@emersion I agree with @cketti as well. The discussion about extended `LIST` command is pointless if `SPECIAL-USE` is not advertised at all. So I would recommend doing what @cketti suggests and just don't advertise it. Or be nice as I suggest and support list by extending `LIST` by `SPECIAL-USE`. Both of these will make clients happy.

Related: https://github.com/emersion/go-imap/pull/342

@emersion, if we can get this PR merged I might look into implementing extended list support this weekeed.

Uhhh, why is this closed again?  We have now SPECIAL-USE in go-imap directly but no EXTENDED-LIST yet so... K-9 will still cause errors?

SPEACIAL-USE in go-imap doesn't advertise the cap.

@foxcpp `SPECIA-USE` advertisement is disabled. K-9 works without issues.

Okay, I see. Going to take a look at what's needed for EXTENDED-LIST...

Note to self: CHILDREN works differently and the cap is advertised.