Multiple Commands in Progress

[Section 5.5 of RFC 3501](https://tools.ietf.org/html/rfc3501#section-5.5) allows clients to support multiple commands at once. One use case is to send multiple FETCH commands all at once, and process the responses as they come in. The goal is to eliminate as many round trips as possible in order to improve the use of the connection, particularly on weak cell connections.

Does go-imap support this? If so, how? If not, should it? When I try to run several commands in parallel, they seem to interleave writes to the raw IMAP connection and all kinds of breakage ensues.

Here's an example program to show how multiple commands are handled by a typical server:

```go
package main

import (
	"crypto/tls"
	"fmt"
	"io"
	"log"
	"os"
	"time"
)

func send(c *tls.Conn, s string, w int) {
	c.Write([]byte(fmt.Sprintf("%s\r\n", s)))
	if w > 0 {
		time.Sleep(time.Duration(w) * time.Second)
	}
}

func main() {
	conn, err := tls.Dial("tcp", "server:993", &tls.Config{ServerName: "server"})
	if err != nil {
		log.Fatalf("error: %v", err)
	}

	go func() {
		io.Copy(os.Stdout, conn)
	}()

	send(conn, "CKiPFA LOGIN username password", 1)
	send(conn, "V1hsOA EXAMINE INBOX", 1)
	send(conn, "QBtyMQ UID FETCH 1 (UID)", 0)
	send(conn, "nasdfaw UID FETCH 2 (UID)", 0)
	send(conn, "ewfcei UID FETCH 3 (UID)", 5)

	// ... process the response
}
```

Output:

```* OK IMAP4 ready
CKiPFA OK [CAPABILITY IMAP4rev1 LITERAL+ ID ENABLE ACL RIGHTS=kxten QUOTA MAILBOX-REFERRALS NAMESPACE UIDPLUS NO_ATOMIC_RENAME UNSELECT CHILDREN MULTIAPPEND BINARY CATENATE CONDSTORE ESEARCH SEARCH=FUZZY SORT SORT=MODSEQ SORT=DISPLAY SORT=UID THREAD=ORDEREDSUBJECT THREAD=REFERENCES THREAD=REFS ANNOTATEMORE ANNOTATE-EXPERIMENT-1 METADATA LIST-EXTENDED LIST-STATUS LIST-MYRIGHTS LIST-METADATA WITHIN QRESYNC SCAN XLIST XMOVE MOVE SPECIAL-USE CREATE-SPECIAL-USE DIGEST=SHA1 X-REPLICATION XAPPLEPUSHSERVICE LOGINDISABLED XCONVERSATIONS COMPRESS=DEFLATE X-QUOTA=STORAGE X-QUOTA=MESSAGE X-QUOTA=X-ANNOTATION-STORAGE X-QUOTA=X-NUM-FOLDERS IDLE] User logged in SESSIONID=<sloti26t08-2622903-1479246195-1-9281662124621499198>
* 7 EXISTS
* 0 RECENT
* FLAGS (\Answered \Flagged \Draft \Deleted \Seen $X-ME-Annot-2 $IsMailingList $IsNotification $HasAttachment $HasTD $IsTrusted)
* OK [PERMANENTFLAGS ()] Ok
* OK [UIDVALIDITY 1464806015] Ok
* OK [UIDNEXT 12] Ok
* OK [HIGHESTMODSEQ 70] Ok
* OK [URLMECH INTERNAL] Ok
* OK [ANNOTATIONS 65536] Ok
V1hsOA OK [READ-ONLY] Completed
* 1 FETCH (UID 1)
QBtyMQ OK Completed (0.000 sec)
* 2 FETCH (UID 2)
nasdfaw OK Completed (0.000 sec)
* 3 FETCH (UID 3)
ewfcei OK Completed (0.000 sec)
```

On a fast connection, RTT is ~100ms. If you need to fetch 500 messages, that's 50 seconds of wasted RTT. 50 seconds!

Yeah, that's definitely something I wanted to add to the server. It's not supported for now, because the goroutine reading commands doesn't read the next command if the current one is still in progress. I think we can let the backend handle ambiguities, if any (need to check though, maybe there are some special cases).

I think responses must be pipelined in the correct order (?).

Note: if you want to fetch multiple messages, you can fetch sequences instead (`FETCH 1:10,20:30`).

I was thinking of how this works for the client. An example from the RFC is:

`FETCH + STORE + SEARCH + CHECK`

How can you get the client to send those four commands without waiting for each response?

BTW, do you know if there is any practical limit to the number of messages you can fetch in a sequence like that?

My use case for a bunch of independent UID FETCHES is that I need to grab different BODY parts in order to fetch attachments, or some HTML, etc. So one will be fetching BODY[1.3.2], and the next BODY[1.2] or whatever.

> FETCH + STORE + SEARCH + CHECK
>
> How can you get the client to send those four commands without waiting for each response?

This could happen if they are completely unrelated - e.g. for a mail reader: a folder is being synchronized, a draft is saved automatically, the user searches for some messages, and a previous APPEND triggered a CHECK to be sent.

>BTW, do you know if there is any practical limit to the number of messages you can fetch in a sequence like that?

According to the RFC, there is no limit. But the RFC advises clients to fetch sequences of n messages one after the other (in the example 50 by 50) to prevent a flood of FETCH responses.

What is currently holding this issue back:
* Some commands, once read, need to be executed before another command can be read (for instance STARTTLS and AUTHENTICATE)
* STORE.SILENT behaviour. Without SILENT, a STORE command sends unilateral FETCH responses for updated messages. SILENT prevents such responses to be sent. Currently sending this command toggles a `silent` flag on the connection that prevents unilateral FETCH responses to be sent when STORE.SILENT is executed. Not only this is a hacky mechanism, but this also doesn't work if multiple commands are executed in parallel - especially a STORE and a STORE.SILENT.
* When multiple commands in progress will be implemented, will it be enabled by default? Some backends might no support it - so it should be disable-able to least.

Good to know how you're thinking about this. Seems like it's worth working through these issues given the performance impact it will have. I will try to find some time to help out with this.

Done in v2.