Search with wildcard

is there a way to search in subject with a wildcard?
For example, I need to search everywhere in subject, from, header and body:
```
		criteria := &imap.SearchCriteria{

			Or: [][2]*imap.SearchCriteria{{
				{Header: textproto.MIMEHeader{"Subject": "term%"}},
				{Header: textproto.MIMEHeader{"From": "term%"}},
			}},

			Text: []string{"term%"},
		}
```

This because if I have a subject like `my custom subject` and I search for the term `custo` (custom without final m), nothing will be found. But if I looking for `custom` then I will found the message

So I'd like to use a wildcard like `%term%`

Thanks

According to [RFC 3501 section 6.4.4](https://tools.ietf.org/html/rfc3501#section-6.4.4):

> In all search keys that use strings, a message matches the key if the string is a substring of the field.  The matching is case-insensitive.

So using `"term"` should work. If it doesn't, then that's an issue with your server.

if I truncate the search term, does not works both on gmail or on my custom domain. I have tried on gmail and other 3 custom domain on 3 different server with this criteria:

```
		criteria := &imap.SearchCriteria{
			Header: textproto.MIMEHeader{"Subject": {searchString}},
		}
```

Truncate term doesn't works

Well, that's an issue with GMail, not with this library. If you find a solution, make sure to post it here.

You can try to use GMail's proprietary `X-GM-RAW` search attribute: https://developers.google.com/gmail/imap/imap-extensions#extension_of_the_search_command_x-gm-raw

Thanks so much,
I was hoping that at least gmail would respect the standard

@emersion what do you tink about this form?
My goal is to search in BODY or HEADER or Subject OR From

```
	criteria := &goimap.SearchCriteria{

		Or: [][2]*goimap.SearchCriteria{{
			{Text: []string{term}},
			{
				Or: [][2]*goimap.SearchCriteria{{
					{Header: textproto.MIMEHeader{"Subject": {term}}},
					{Header: textproto.MIMEHeader{"From": {term}}},
				}},
			},
		}},
	}
```

In practice I would look for a word everywhere in `OR` way

You can just use `Text`, that will search in the message header + body. `Body` can be used to only search in the message body.