Real sorting by date

Hi,
When I fetch a list, SeqSet is needed. For example (implementing pagination), in a mailbox with 100 messages, Page = 1 and MsgNumber = 20, SeqSet:

```
seqset := new(goimap.SeqSet)
seqset.AddRange(81, 100)
```
The problem arise when I move, for instance, the message with SeqNum 50 from `INBOX` mailbox to `Misc` and then I put again same message from `Misc` to `INBOX`. The SeqNum changes, so fetching with same SeqSet (81, 100) show the (old) message with SeqNum 50 in top of the list because this message has now SeqNum = 101

So I wonder what is the correct way to fetch a list sorted by date


I think that one way should be to fetch before only all uid, and than fetch a chunk of this list to retrieve full messages list.
What do you think about that?

Thanks

There's no "order by" criteria in IMAP. I think there's an extension for that, but I'm not sure whether most servers implement it or not.

Thanks @emersion 
What do you think of my analysis? Do you think it's right?

According to [RFC 6851 section 3.3](https://tools.ietf.org/html/rfc6851#section-3.3), the move command has the same effect as the following sequence:

>   1.  [UID] COPY
>   2.  [UID] STORE +FLAGS.SILENT \DELETED
>   3.  UID EXPUNGE

So yes, what you said is correct.